 <form autocomplete="on" [formGroup]="myForm" (ngSubmit)="onSubmit()">
<p>
  <mat-form-field appearance="standard" >
    <mat-label>Website</mat-label>
    <url-mat-input required formControlName="website"></url-mat-input>
    <mat-hint>Hint</mat-hint>
    <mat-icon matSuffix>language</mat-icon>
  </mat-form-field>
</p>
<p>
  <mat-form-field appearance="standard">
    <mat-label>Password</mat-label>
    <input  #password readonly [type]="originalPasswordVisibility.type" onfocus="this.removeAttribute('readonly');" matInput placeholder="Password">
    <mat-hint>Hint</mat-hint>
    <mat-icon matSuffix (mousedown)="showPassword(originalPasswordVisibility)" (mouseup)="hidePassword(originalPasswordVisibility)">{{ originalPasswordVisibility.icon }}</mat-icon>
  </mat-form-field>
  <mat-password-strength #passwordComponent [password]="password.value" class="green"></mat-password-strength>
</p>

<pre>
  {{ myForm.value | json }}
</pre>
<pre>
  {{ originalPasswordVisibility | json }}
</pre>
 </form>