<div appHighlightBaseurl contenteditable="true" [formControl]="myControl"></div>
 <form autocomplete="on" [formGroup]="myForm" (ngSubmit)="onSubmit()">
<p>
  <mat-form-field appearance="standard" >
    <mat-label>Website</mat-label>

    <url-mat-input required formControlName="gender"></url-mat-input>
    <mat-hint>Hint</mat-hint>
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
  </mat-form-field>


</p>
<p>
  <mat-form-field appearance="standard">
    <mat-label>Standard form field</mat-label>
    <input matInput placeholder="Placeholder">
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    <mat-hint>Hint</mat-hint>
  </mat-form-field>
</p>

<pre>
  {{ myForm.value | json }}
</pre>
 </form>