<form autocomplete="off" [ngrxFormState]="formState$ | async" (submit)="submit()">
  <p>
    <mat-form-field appearance="standard">
      <mat-label>Website</mat-label>
      <url-mat-input required [ngrxFormControlState]="(formState$ | async).controls.website"></url-mat-input>
      <mat-icon matSuffix>language</mat-icon>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="standard">
      <mat-label>Username</mat-label>
      <input matInput [ngrxFormControlState]="(formState$ | async).controls.userName">
      <mat-icon matSuffix>account_circle</mat-icon>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="standard">
      <mat-label>Email</mat-label>
      <input matInput [ngrxFormControlState]="(formState$ | async).controls.email">
      <mat-icon matSuffix>alternate_email</mat-icon>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="standard">
      <mat-label>Password</mat-label>
      <input #password required eadonly [type]="originalPasswordVisibility.type"
        onfocus="this.removeAttribute('readonly');" [ngrxFormControlState]="(formState$ | async).controls.password" matInput placeholder="Password">
      <mat-hint>d</mat-hint>
      <mat-icon matSuffix (mousedown)="showPassword(originalPasswordVisibility)"
        (mouseup)="hidePassword(originalPasswordVisibility)">{{ originalPasswordVisibility.icon }}</mat-icon>
    </mat-form-field>
    <mat-password-strength #passwordComponent [password]="password.value" class="green"></mat-password-strength>
  </p>


  <pre>{{ formState$ | async | json }}</pre>
</form>